# Игнорирование папки скомпилированных байт-кодов
__pycache__/
# Игнорирование скомпилированных python-файлов
*.pyc
# Игнорирование оптимизированных python-файлов
*.pyo
# Игнорирование логов
*.log
# Игнорирование файлов .env переменных среды
.env
# Игнорирование директории для хранения персистентных данных БД
db/dump