body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e7f3ff; /* Светлый синий фон */
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    height: 100vh;
    box-sizing: border-box; /* Ширина и высота элемента включает в себя содержимое и границы */
}

.main-container {
    display: flex;
    gap: 20px; /* Расстояние между блоками в контейнере */
    width: 100%;
    max-width: 1200px;
    margin-top: 60px;
    align-items: stretch; /* Растягивает дочерние элементы по высоте, чтобы они росли с контентом */
}

.left-container, .right-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.right-container {
    flex-grow: 1; /* элемент может занять все пространство в контейнере */
    max-width: 50%;
    max-height: 670px; /* Устанавливает максимальную высоту контейнера */
    overflow-y: auto;
}

.form-container {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8ff; /* Светло-голубая подложка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #1a73e8; /* Синий цвет заголовка */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: calc(100% - 24px); /* Учитываем отступы (12px с каждой стороны) */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b3d7ff; /* Светло-синий цвет для рамки */
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #1a73e8; /* Синий фон кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #005cbf; /* Темный синий при наведении */
}

ul {
    list-style-type: none; /* Удаление маркеров списка */
    padding: 0; /* Удаление внутренних отступов элемента */
}

li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.btn-chat {
    background-color: #1a73e8; /* Синий фон кнопки чата */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-chat:hover {
    background-color: #005cbf; /* Темный синий при наведении */
}

.btn-delete {
    background-color: #f44336; /* Красный фон для кнопки удаления */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #e53935; /* Темный красный при наведении */
}

.message {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button {
    background-color: #f44336; /* Красный фон для кнопки выхода */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #e53935; /* Темный красный при наведении */
}


.results-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #b3d7ff; /* Рамка для результатов поиска */
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1000; /* Убедитесь, что список отображается поверх других элементов */
}

.results-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.results-container li {
    padding: 10px;
    cursor: pointer; /* Указатель при наведении */
}

.results-container li:hover {
    background-color: #f0f8ff; /* Цвет при наведении на элемент списка */
}

.chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стили для элемента чата */
.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Обводка вокруг одного чата */
    border-radius: 10px;
    background-color: #f9f9f9;
}

.chat-name {
    flex: 0 0 45%; /* Название чата занимает 50% */
    font-weight: bold;
}

.btn-chat,
.btn-delete {
    flex: 0 0 23%; /* Кнопки занимают по 25% */
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
}

.btn-chat {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-chat:hover {
    background-color: #0056b3;
}

.btn-delete:hover {
    background-color: #c82333;
}

