<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/auth.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Регистрация</h1>
        <form action="/registration/" method="post">
            <label for="email">Введите ваш email:</label>
            <input type="email" id="email" name="email" placeholder="example@mail.com" required>

            <label for="password">Введите ваш пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>

            {% if message_good %}
                <div class="message_good">{{ message_good }}</div>
                <a href="/authorization/" style="text-decoration: none;">
                    <button type="button" class="button">Перейти на страницу авторизации</button>
                </a>
            {% endif %}

            {% if message_bad %}
                <div class="message_bad">{{ message_bad }}</div>
            {% endif %}

            <button type="submit">Создать аккаунт</button>
        </form>
    </div>
</body>
</html>