<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/welcome.css') }}">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать</h1>
    <a href="/register/">
        <button>Зарегистрироваться</button>
    </a>
    <a href="/authorizate/">
        <button>{{ button_message }}</button>
    </a>

    <script src="{{ url_for('static', path='js/welcome.js') }}"></script>
</div>
</body>
</html>
